.nemo-window paned.nemo-pane-divider > separator {
    min-width: 5px;
    min-height: 1px;
    background-image: linear-gradient(to right, alpha(@theme_fg_color, 0.7), alpha(@theme_fg_color, 0.7));
    background-color: transparent;
    background-size: 1px 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
}

.nemo-window paned.nemo-pane-divider > separator:hover,
.nemo-window paned.nemo-pane-divider > separator:active {
    background-image: linear-gradient(to right, @theme_selected_bg_color, @theme_selected_bg_color);
}
